:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

router-outlet {
  display: none;
}

router-outlet + * {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

footer {
  flex-shrink: 0;
  width: 100%;
}
