:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  gap: 2rem;
}

.password-display {
  font-size: 1.5rem;
  word-break: break-all;
  text-align: center;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  gap: 1rem;

  .copy-button ::ng-deep .p-button {
    background-color: #46aaff !important;
    border-color: #46aaff !important;
    color: #ffffff !important;
    border-radius: 2rem;

    &:hover {
      background-color: #1976D2 !important;
      border-color: #1976D2 !important;
      color: #ffffff !important;
    }
  }
}

.settings-container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: white;
  padding: 4rem 7rem;
  border-radius: 2rem;

  .slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    p-slider {
      width: 100%;
      max-width: 500px;
    }

    ::ng-deep{
      .p-slider-range {
        background-color: #46aaff !important;
      }

      .p-slider-handle {
        background-color: #ffffff !important;

        &:focus {
          border-color: #46aaff !important;
          box-shadow: 0 0 0 0.2rem rgba(70, 170, 255, 0.5) !important;
          outline: none !important;
        }
      }
    }
  }
}
