<div class="password-display">
  {{ generatedPassword }}
  <p-button label="Copier" class="copy-button"/>
</div>
<div class="settings-container">
  <div class="slider-container">
    <p-slider [(ngModel)]="lengthMdp" [min]="4" [max]="40" [step]="1" (onChange)="onSliderChange()" class="slider" />
  </div>
  <div class="checkbox-container">
    <div>
      <div>
        <p-checkbox [binary]="true" ></p-checkbox>
        <label>Lettres (ex. Aa)</label>
        <p-checkbox [binary]="true"></p-checkbox>
        <label>Symboles (@&$!#?)</label>
      </div>
      <div>
        <p-checkbox [binary]="true"></p-checkbox>
        <label>Chiffres (ex. 345)</label>
        <p-checkbox [binary]="true"></p-checkbox>
        <label>Caractères semblables (ex. 0O 1| 2Z)</label>
      </div>
    </div>
  </div>
</div>
